.login-container {
  width: 100vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container h1 {
  background-color: rgb(69, 153, 213);
  border-radius: 5px;
  padding: 2vh;
  color: white;
}

.login-form {
  width: 30vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 100, 137);
  border-radius: 5px;
  color: white;
}
