.nav-container {
  width: auto;
  height: 8vh;
  background-color: rgb(48, 100, 137);
  display: flex;
  justify-content: space-between;
  padding: 0.3vh 2.5vw 0.3vh 2.5vw;
}

.nav-container a {
  width: max-content;
  height: 100%;
  background-color: rgb(48, 100, 137);
  border: none;
  outline: none;
  font-size: 1.5vw;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
